.pv-background{
  background-image: url('../img/login-bg/LOGIN-BG.jpg');
  position: relative;
}
.page-upper-header {
 /* background: url('../img/tis/ext/header.jpg') repeat-x center;
  height:190px;
  --link: upgrade/web-pro?period=lifetime;*/
}
.page-upper-header[data-login=true] {
 /* background: url('../img/tis/ext/header_inside.png') repeat-x center bottom;
  height:235px !important;
  background-position-x: 100px;*/
}
.page-upper-header[data-page="play"] {
  /*background-position-x: 0px;
  display:none;*/
}
.lower-footer {
  /*background: url('../img/tis/lower-footer-trimmed.png') repeat-x center bottom;
  width:100%;
  height: 168px !important;
  position: absolute;
  bottom: 0px;  */
}
.join-text{
  /*margin-top: -50px !important;*/
}
body{
  /*background: transparent url('../img/tis/tis-bg-body.png?v=tis') repeat center top;*/
  /*background-attachment: fixed;*/
}
.pv-menu-bg{
	/*background: #113544 !important;*/
}
.plan-duration.offer{
  /*background:white url('../img/offer_price_bg.png') no-repeat top center !important;*/
}
#curr-plan-edu-prime-25, #curr-plan-test-edu-prime-25 {
  background-image: url('../img/pricing/icons/100seats.png');
}
#curr-plan-edu-prime-50, #curr-plan-test-edu-prime-50 {
  background-image: url('.../img/pricing/icons/150seats.png');
}
#curr-plan-edu-prime-100, #curr-plan-test-edu-prime-100 {
  background-image: url('../img/pricing/icons/250seats.png');
}
#curr-plan-web-pro, #curr-plan-free-general-plan {
  background-image: url('../img/pricing/icons/pv-plan.png');
}
