.pv-background{
  background-image: url('../img/tis/tis-bg-new.jpg');
  position: relative;
}
.page-upper-header {
  background: url('../img/tis/Login_Header_withbtn.jpg') repeat-x center;
  height:190px;
  --link: upgrade/web-pro?period=lifetime;
}
.page-upper-header[data-login=true] {
  background: url('../img/tis/Header_withbtn.png') repeat-x center bottom;
  height:235px !important;
  background-position-x: 100px;
}
.page-upper-header[data-page="play"] {
  background-position-x: 0px;
}
.lower-footer {
  background: url('../img/tis/lower-footer-trimmed.png') repeat-x center bottom;
  width:100%;
  height: 168px !important;
  position: absolute;
  bottom: 0px;  
}
.join-text{
  margin-top: -50px !important;
}
body{
  background: transparent url('../img/tis/Body_BG.png?v=tis') repeat center top;
  background-attachment: fixed;
}
.pv-menu-bg{
				background: #113544 !important;
}
