.pv-background{
  background-image: url('https://picovico.github.io/_pvstatic/img/login-bg/christmas-02.jpg');
}
/*
https://picovico.github.io/_pvstatic/img/login-bg/christmas-02.jpg
https://picovico.github.io/_pvstatic/img/login-bg/snowy-winter-01.jpg
https://picovico.github.io/_pvstatic/img/login-bg/snowy-winter-02.jpg
*/
